<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title th:text="${user.id == null} ? 'User create' : 'User update'"></title>
</head>
<body>

<div sec:authorize="hasRole('ROLE_ADMIN')">

    <h1 th:text="${user.id == null} ? 'User create' : 'User update'"></h1>
    <form th:action="@{/admin/save}" th:method="post" th:object="${user}">
        <input th:field="*{id}" th:value="${user.id}" type="hidden">
        <div>
            <label>Name:</label>
            <input th:field="*{name}" type="text"/>
        </div>
        <div>
            <label>Last name:</label>
            <input th:field="*{lastName}" type="text"/>
        </div>
        <div>
            <label>Middle name:</label>
            <input th:field="*{middleName}" type="text"/>
        </div>
        <button type="submit">Save</button>
    </form>

</div>

</body>
</html>